<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INIWS_NIF" maxReceivedMessageSize = "100000000">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws.netcash.co.za/NIWS/NIWS_NIF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INIWS_NIF"
                contract="Upload.INIWS_NIF" name="BasicHttpBinding_INIWS_NIF" />
        </client>
    </system.serviceModel>
</configuration>